### 딕셔너리

- 딕셔너리 = {키1:값1, 키2:값2}

In [45]:
lux = {'melee':550, 'armor':18.72, 'health':490}
lux

{'melee': 550, 'armor': 18.72, 'health': 490}

In [8]:
lux['health']

490

In [11]:
# 딕셔너리에서는 키 값이 중복 되어서는 안됨
lux = {'health':490, 'health':800, 'health':1000, 'melee':550, 'armor':18.72}

In [12]:
lux['health']

1000

In [ ]:
# 딕셔너리의 키 : 문자열, 정수, 실수, 불, 튜플 등은 사용할 수 있음
# 딕셔너리의 값 : 리스트, 딕셔너리 포함하여 모든 자료형을 사용할 수 있음

In [14]:
# 딕셔너리의 키값에는 읽기만 가능한(hashable) 자료형이 와야함 (리스트나 딕셔너리는 올 수 없음)

# 키값에 리스트를 넣은 경우
lux = {[1, 2, 3]:490, 'melee':550, 'armor':18.72}

TypeError: unhashable type: 'list'

In [15]:
# 키값에 딕셔너리를 넣은 경우
lux = {{'a':1, 'b':2}:490, 'melee':550, 'armor':18.72}

TypeError: unhashable type: 'dict'

In [16]:
# 키값에 튜플을 넣은 경우(문제 없음)
lux = {(1, 2):490, 'melee':550, 'armor':18.72}

In [ ]:
# 빈 딕셔너리 만들기

- 딕셔너리 = {}
- 딕셔너리 = dict()

In [17]:
x = {}
type(x)

In [19]:
y = dict()
type(y)

**dict로 딕셔너리 만들기**

- 딕셔너리 = dict(키1=값1, 키2=값2)
- 딕셔너리 = dict(zip([키1, 키2], [값1, 값2]))
- 딕셔너리 = dict([(키1, 값1), (키2, 값2)])
- 딕셔너리 = dict({키1:값1, 키2:값2})

In [21]:
lux = dict(health=490, melee=550, armor=18.72)
lux

{'health': 490, 'melee': 550, 'armor': 18.72}

In [22]:
lux = dict(zip(['health', 'melee', 'armor'], [490, 550, 18.72]))
lux

{'health': 490, 'melee': 550, 'armor': 18.72}

In [23]:
# 참고 (zip : 두 시퀀스객체의 개별 원소끼리 짝을 지어줌)
zip(['health', 'melee', 'armor'], [490, 550, 18.72])

In [24]:
list(zip(['health', 'melee', 'armor'], [490, 550, 18.72]))

[('health', 490), ('melee', 550), ('armor', 18.72)]

In [25]:
dict(zip(['health', 'melee', 'armor'], [490, 550, 18.72]))

{'health': 490, 'melee': 550, 'armor': 18.72}

In [26]:
tuple(zip(['health', 'melee', 'armor'], [490, 550, 18.72]))

(('health', 490), ('melee', 550), ('armor', 18.72))

**딕셔너리의 키로 값 조회하기**

- 딕셔너리[키]

In [27]:
lux['health']

490

**딕셔너리의 키게 값 할당하기**

- 딕셔너리[키] = 값

In [28]:
lux

{'health': 490, 'melee': 550, 'armor': 18.72}

In [29]:
# 변경
lux['health'] = 1000
lux

{'health': 1000, 'melee': 550, 'armor': 18.72}

In [30]:
# 추가 (키:값)
lux['mana'] = 500
lux

{'health': 1000, 'melee': 550, 'armor': 18.72, 'mana': 500}

In [31]:
# 존재하지 않는 키를 조회하면 keyError
lux['attack_speed']

KeyError: 'attack_speed'

**딕셔너리에 키가 있는지 확인하기**

- 키 in 딕셔너리

In [32]:
lux

{'health': 1000, 'melee': 550, 'armor': 18.72, 'mana': 500}

In [33]:
'health' in lux

True

In [34]:
'attack_speed' not in lux

True

**딕셔너리의 키 개수 구하기**

- len(딕셔너리)

In [35]:
len(lux)

4

### Workshop

**게임 캐릭터 능력 저장**

- 표준 입력으로 문자열 여러 개와 숫자(실수) 여러 개가 두 줄로 입력됩니다. 입력된 첫 번째 줄은 키, 두 번째 줄은 값으로 하여 딕셔너리를 생성한 뒤 딕셔너리를 출력하는 프로그램을 만드세요. input().split()의 결과를 변수 한개에 저장하면 리스트로 저장됩니다.

```
(입력예)
health health_regen mana mana_regen
575.6 1.7 338.8 1.63

(결과)
{'health':575.6, 'health_regen':1.7, 'mana':338.8, 'mana_regen':1.63}
```

In [44]:
k = input().split()
v = map(float, input().split()) # zip의 parameter가 iterable 객체도 가능하므로 list로 변환하지 않아도됨
# v = list(map(float, input().split())) # list로 변환해도 됨

print(dict(zip(k, v)))

health health_regen mana mana_regen
575.6 1.7 338.8 1.63
{'health': 575.6, 'health_regen': 1.7, 'mana': 338.8, 'mana_regen': 1.63}

### Workshop

**온라인 할인쿠폰**

- 표준 입력으로 가격(정수)과 쿠폰 이름이 각 줄에 입력됩니다. Cash3000 쿠폰은 3,000원, Cash5000 쿠폰은 5,000원을 할인합니다. 쿠폰에 따라 할인된 가격을 출력하는 프로그램을 만드세요(input에서 안내 뭄ㄴ자열은 출력하지 않아야 합니다.)

```
입력예
27000
Cash3000

결과
24000
```

In [48]:
price = int(input())
coupon = input()

if coupon == "Cash3000":
    price -= 3000
if coupon == "Cash5000": # elif 도 가능
    price -= 5000
print(price)

27000
Cash3000
24000

**과목 평균 점수에 따른 합격 불합격**

- 표준입력으로 국어, 영어, 수학, 과학 점수가 입력됩니다. 여기서 네 과목의 평균 점수가 80점 이상일때 합격이라고 정했습니다. 평균 점수에 따라 "합격", "불합격"을 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 단, 점수는 0점부터 100점까지만 입력받을 수 있으며 범위를 벗어난다면 '잘못된 점수'를 출력하고 합격, 불합격 여부는 출력하지 않아야 합니다.

In [61]:
k, e, m, s = map(int, input().split())

102 80 90 99

In [62]:
if (0 <= k <= 100 and 0 <= e <= 100 and 0 <= m <= 100 and 0 <= s <= 100 ): # 가능한 점수 범위를 체크
    mean = (k + e + m + s)/4
    if(mean >= 80): # 합격 가능한 범위를 체크
        print("합격")
    else: # 불합격
        print("불합격")    
else: # 범위를 넘어간 점수
    print("잘못된 점수")

잘못된 점수

**교통 카드 시스템 만들기**

표준 입력으로 나이(만 나이)가 입력됩니다(입력 값은 7 이상 입력됨). 교통카드 시스템에서 시내버스 요금은 다음과 같으며 각 나이에 맞게 요금을 차감한 뒤 잔액이 출력되게 만드세요(if, elif 사용). 현재 교통카드에는 9,000원이 들어있습니다. 

- 어린이(초등학생, 만 7세 이상 12세 이하): 650원 
- 청소년(중∙고등학생, 만 13세 이상 18세 이하): 1,050원 
- 어른(일반, 만 19세 이상): 1,250원

```
age = int(input()) 
balance = 9000 # 교통카드 잔액 
________________ 
________________ 
________________ 
print(balance)
```

In [72]:
age = int(input())
balance = 9000

if 7 <= age <= 12: # 어린이
    balance -= 650 # balance = balance = 650
elif 13 <= age <= 18:
    balance -= 1050
elif age >= 19:
    balance -= 1250    

print(balance)

5

### for와 range 사용하기

```
for 변수 in range(횟수):
    반복할 코드
```

In [75]:
for i in range(10):
    print("Hello, World!")

Hello, World!
Hello, World!
Hello, World!
Hello, World!
Hello, World!
Hello, World!
Hello, World!
Hello, World!
Hello, World!
Hello, World!

- for 변수 in range(시작, 끝, 증가폭):

In [77]:
for i in range(0, 10, 2):
    print("Hello, World!")

Hello, World!
Hello, World!
Hello, World!
Hello, World!
Hello, World!

In [80]:
for i in range(10, 0, -1):
    print("Hello, World!")

Hello, World!
Hello, World!
Hello, World!
Hello, World!
Hello, World!
Hello, World!
Hello, World!
Hello, World!
Hello, World!
Hello, World!

In [82]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [84]:
for i in reversed(range(10)):
    print("Hello, World!", i)

Hello, World! 9
Hello, World! 8
Hello, World! 7
Hello, World! 6
Hello, World! 5
Hello, World! 4
Hello, World! 3
Hello, World! 2
Hello, World! 1
Hello, World! 0

In [85]:
for i in reversed(range(0, 10)):
    print("Hello, World!", i)

Hello, World! 9
Hello, World! 8
Hello, World! 7
Hello, World! 6
Hello, World! 5
Hello, World! 4
Hello, World! 3
Hello, World! 2
Hello, World! 1
Hello, World! 0

In [86]:
for i in reversed(range(0, 10, 2)):
    print("Hello, World!", i)

Hello, World! 8
Hello, World! 6
Hello, World! 4
Hello, World! 2
Hello, World! 0

```
for 변수 in 시퀀스객체:
    반복할 코드
```

In [87]:
a = [10, 20, 30, 40, 50]

for i in a:
    print(i)

10
20
30
40
50

In [88]:
b = (10, 20, 30, 40, 50)

for i in b:
    print(i)

10
20
30
40
50

In [89]:
c = "Python"

for i in c:
    print(i)

P
y
t
h
o
n

In [90]:
for i in reversed(c):
    print(i)

n
o
h
t
y
P

### Workshop

**구구단 출력 프로그램**
- 표준 입력으로 성수가 입력됩니다. 입력된 정수의 구구단을 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 출력형식은 숫자 * 숫자 = 숫자 처럼 만들고 숫자와 *, = 사이는 공백을 한칸 띄웁니다.

```
입력 예
2

결과
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
```

In [91]:
n = int(input())
for i in range(1, 10):
    print(n, '*', i, '=', n*i)

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

### while 반복문 사용하기

```
초기식
while 조건식:
    반복할 코드
    변화식
```

In [96]:
i = 10
while i > 0:
    print("Hello, world!")
    i -= 1

Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!

In [ ]:
주사위눈을 출력하고 "3"이 나왔을때 멈추기

In [97]:
import random

In [102]:
random.randint(1, 6) # 1에서 6사이의 무작위수 추출

5

In [105]:
i = 0
while i != 3:
    i = random.randint(1, 6)
    print(i)

2
4
6
5
1
2
2
6
5
3

### Workshop

**교통카드 잔액 출력하기**
- 표준입력으로 금액(정수)이 입력됩니다. 1회당 요금은 1,350이고, 교통카드를 사용했을 때마다의 잔액을 각 줄에 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출려갛지 않아야 합니다). 단, 최초 금액은 출력하지 않아야 합니다. 그리고 잔액은 음수가 될 수 없으며 잔액이 부족하면 출력을 끝냅니다.

In [109]:
amount = int(input())

while amount >= 1350:
    amount -= 1350
    print(amount)

10000

**3으로 끝나는 숫자만 출력하기**
- 0과 73 사이의 숫자 중 3으로 끝나는 숫자만 출력되게 만드세요.

In [111]:
i = 0
while True:
    if i % 10 != 3: # 3으로 끝나지 않는 숫자들은 출력하지 않고 반복만 계속되도록
        i += 1
        continue
    if i > 73:
        break
    
    print(i, end=' ')
    i += 1

3 13 23 33 43 53 63 73

**알파벳별 빈도 사전 등록**
- 다음의 주어진 문자열 s에서 알파벳 별 빈도를 사전형인 d에 등록하는 파이썬 코드블럭을 작성하시오. 

```
s = ‘life is short, so python is easy.’ 
punct = ‘,. ’ 
d = {} 

결과 print(d) (순서는 상관 없음)
{'a': 1, 'e': 2, 'f': 1, 'i': 3, 'h': 2, 'l': 1, 'o': 3, 'n': 1, 'p': 1, 's': 5, 'r': 1, 't': 2, 'y': 2}

```

In [115]:
s = "life is short, so python is easy."
punct = ",. "
d = {}

for i in s:
    if i in punct:
        continue
    if i not in d:
        d[i] = 1 # d['l'] = 1, d['i'] = 1 ....
    else:
        d[i] += 1 # d['i'] = 2 ....
print(d)

{'l': 1, 'i': 3, 'f': 1, 'e': 2, 's': 5, 'h': 2, 'o': 3, 'r': 1, 't': 2, 'p': 1, 'y': 2, 'n': 1, 'a': 1}

**계단식으로 별 출력하기**

In [120]:
for i in range(5):
    for j in range(5):
        if j<=i:
            print("*", end="")
    print()

*
**
***
****
*****

In [116]:
for i in range(5):
    for j in range(i+1):
        print('*', end='')
    print()

*
**
***
****
*****

In [121]:
for i in range(5):
    for j in range(5):
        if j < i:
            print(" ", end="")
        else:
            print("*", end="")                    
    print()

*****
 ****
  ***
   **
    *

In [118]:
for i in range(5):
    for j in range(i):
        print(" ", end="")
    for j in range(5-i):
        print("*", end="")
    print()

*****
 ****
  ***
   **
    *

In [125]:
for i in range(5):
    for j in reversed(range(5)):
        if j > i:
            print(" ", end="")
        else:
            print("*", end="")
    for j in range(5):
        if j < i:
            print("*", end="")
    print()

    *
   ***
  *****
 *******
*********

In [119]:
for i in range(1, 6):
    for j in range(6-i):
        print(" ", end="")
    for j in range(2*i-1):
        print('*', end='')
    print()

     *
    ***
   *****
  *******
 *********