### Workshop

**정수 세 개를 입력 받고 합계 출력하기**

In [1]:
x,y,z=map(int,input("세개의 정수를 입력하시오").split())
print(x+y+z)

세개의 정수를 입력하시오-10 20 30
40

**평균 점수 구하기**
- 표준 입력으로 국어, 영어, 수학, 과학 점수가 입력됩니다. 평균 점수를 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 단, 평균 점수를 출력할 때는 소수점 이하 자리는 버립니다(정수로 출력).

In [2]:
k, e, m, s = map(int, input().split())
a = (k + e + m + s)//4 # option 1
# a = int((k + e + m + s)/4) #option 2
a

90 80 70 100

85

### 출력 방법 알아보기

- print(값1, 값2, 값3...)
- print(변수1, 변수2, 변수3...)

In [3]:
print(1, 2, 3)

1 2 3

In [4]:
print(k, e, m, s)

90 80 70 100

- print(값1, 값2, sep='문자' 또는 '문자열')
- print(변수1, 변수2, sep='문자' 또는 '문자열')

In [5]:
print(1, 2, 3, sep=', ') # sep에 컴마와 공백을 지정

1, 2, 3

In [6]:
print('hello', 'python', sep='') # sep에 빈 문자열을 지정

hellopython

In [7]:
print(123, 456, sep='x')

123x456

In [8]:
print(1, 2, 3, sep='\n') # 개행문자(\n)라는 제어문자를 지정하여 출력

1
2
3

- print(값, end='문자 또는 문자열')
- print(변수, end='문자 또는 문자열')

In [10]:
print(1, end='')
print(2, end='')
print(3)

123

In [11]:
print(1, end=' ')
print(2, end=' ')
print(3)

1 2 3

**날짜와 시간 출력하기**
- 2000/10/27 11:43:59

In [12]:
year = 2000
month = 10
day = 27
hour = 11
minute = 43
second = 59

In [13]:
print(year, month, day, sep='/', end=' ')
print(hour, minute, second, sep=':')

2000/10/27 11:43:59

### 불(bool)과 비교 연산자

In [16]:
type(True)

bool

In [18]:
3 > 1 # 비교의 결과가 맞으면 True, 아니면 False

True

In [19]:
10 == 10

True

In [20]:
10 != 5

True

In [21]:
'Python' == 'Python'

True

In [22]:
'Python' == 'python'

False

In [23]:
'Python' != 'python'

True

In [24]:
10 > 20

False

In [25]:
10 < 20

True

In [26]:
10 >= 10

True

In [27]:
10 <= 10

True

In [28]:
1 == 1.0 # 1과 1.0은 자료형은 다르지만 값 자체는 같으므로 결과는 True

True

In [29]:
# is는 값을 비교하는 것이 아니라 "객체"를 비교
1 is 1.0

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\Playdata\AppData\Local\Temp\ipykernel_10496\3336455986.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  1 is 1.0

False

In [30]:
1 is not 1.0

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
C:\Users\Playdata\AppData\Local\Temp\ipykernel_10496\2095918375.py:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  1 is not 1.0

True

In [31]:
id(1)

1886561200432

In [32]:
id(1.0)

1886647079472

### 논리 연산자

- a and b
- a or b
- not a

In [33]:
True and True

True

In [34]:
True or False

True

In [35]:
not True

False

In [ ]:
not True and False or not False
= (not True) and False or (not False)
= False and False or True
= False or True
= True

In [36]:
not True and False or not False

True

### 비교 연산자와 논리 연산자를 함께 사용

In [37]:
10 == 10 and 10 != 5

True

In [38]:
# 자료형 변환(type casting)
# int(1.5)
# float(1)
# str(1)

1

In [41]:
bool(1)

True

In [42]:
bool(0)

False

### Workshop

**합격 여부 출력하기**
- 국어, 영어, 수학, 과학 점수가 있을 때 한 과목이라도 50점 미만이면 불합격
이라고 정했습니다. 다음 소스 코드를 완성하여 합격이면 True, 불합격이
면 False가 출력되게 만드세요.

In [59]:
korean = 92 
english = 47 
mathematics = 86 
science = 81

In [52]:
print(korean >= 50 and english >= 50 and mathematics >= 50 and science >= 50) # option 1

False

In [55]:
print(not(korean < 50 or english < 50 or mathematics < 50 or science < 50)) # option 2

False

- all(), any() 함수 사용

In [62]:
is_pass = [korean >= 50 , english >= 50 , mathematics >= 50 , science >= 50]
all(is_pass)

False

In [63]:
is_fail = [korean < 50 , english < 50 , mathematics < 50 , science < 50]
any(is_fail)

True

In [64]:
not(any(is_fail))

False

### 문자열 사용하기

In [65]:
s1 = 'hello'
s2 = "hello"
s3 = '''hello'''
s4 = """hello"""

In [66]:
print(s1, s2, s3, s4, sep="\n")

hello
hello
hello
hello

In [69]:
# hello 'python' 
s1 = "hello 'python'"
print(s1)

hello 'python'

In [70]:
# hello "python"
s2 = 'hello "python"'
print(s2)

hello "python"

In [72]:
# hello 'python' 
s3 = '''hello 'python' '''
print(s3)

hello 'python'

In [75]:
# hello 'python' 
s4 = """hello 'python' """
print(s4)

hello 'python'

In [76]:
# here is
# python world
# it is
# real!!!

s5 = '''here is
python world
it is
real!!!!'''
print(s5)

here is
python world
it is
real!!!!

In [77]:
# here is
# python world
# it is
# real!!!

s6 = """here is
python world
it is
real!!!!"""
print(s6)

here is
python world
it is
real!!!!

In [78]:
s6.count('\n')

3

In [79]:
s7 = """here is\npython world\nit is\nreal!!!"""
print(s7)

here is
python world
it is
real!!!

In [80]:
s7.count('\n')

3

In [81]:
# hello, 'python'
s8 = 'hello, \'python\''
print(s8)

hello, 'python'

In [82]:
s9 = "hello, \'python\'"
print(s9)

hello, 'python'

### Workshop

**여러 줄로 된 문자열 사용하기**

In [ ]:
# 'Python' is a "programming language"
# that lets you work quicky
# and
# integrate systems more effectively.

In [83]:
s = """'Python' is a "programming language"
that lets you work quicky
and
integrate systems more effectively."""
print(s)

'Python' is a "programming language"
that lets you work quicky
and
integrate systems more effectively.

### 리스트와 튜플 사용하기

- 리스트 = [값, 값, ...]

In [84]:
korean_class = [90, 95, 100, 80, 70, 100]
korean_class

[90, 95, 100, 80, 70, 100]

In [85]:
person = ["james", 17, 175,3, True] # 문자열, 정수, 실수, 불리안
person

['james', 17, 175, 3, True]

In [ ]:
# 빈 리스트 만들기

- 리스트 = []
- 리스트 = list()

In [92]:
a = []
a

[]

In [93]:
b = list()
b

[]

In [ ]:
# range를 사용하여 리스트 만들기

- range(횟수)

In [94]:
range(10) # 0에서 9까지

range(0, 10)

In [95]:
type(range(10))

range

- 리스트 = list(range(횟수))

In [97]:
a = list(range(10))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

- 리스트 = list(range(시작, 끝))

In [98]:
b = list(range(0, 10))
b

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

- 리스트 = list(range(시작, 끝, 증가폭))

In [100]:
c = list(range(0, 10, 2))
c

[0, 2, 4, 6, 8]

In [101]:
d = list(range(10, 0, -1))
d

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

- 튜플 = (값, 값, 값)
- 튜플 = 값, 값, 값

In [102]:
a = (1, 2, 3, 4)
a

(1, 2, 3, 4)

In [103]:
b = 1, 2, 3, 4
b

(1, 2, 3, 4)

In [106]:
type(b)

tuple

In [104]:
c = (1) # 튜플이 아님 주의
c

1

In [105]:
type(c)

int

In [107]:
d = (1,) # 1개 원소로 튜플을 만들기 위해서는 , 필요
d

(1,)

In [108]:
type(d)

tuple

In [ ]:
# range를 사용하여 리스트 만들기

- 튜플 = tuple(range(횟수))

In [112]:
a = tuple(range(10))
a

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

- 튜플 = tuple(range(시작, 끝))

In [114]:
b = tuple(range(5, 12))
b

(5, 6, 7, 8, 9, 10, 11)

- 튜플 = tuple(range(시작, 끝, 증가폭))

In [115]:
c = tuple(range(5, 12, 2))
c

(5, 7, 9, 11)

In [ ]:
# 튜플을 리스트로, 리스트를 튜플로

In [117]:
a = [1, 2, 3]
b = tuple(a)
b

(1, 2, 3)

In [118]:
type(b)

tuple

In [119]:
c = (1, 2, 3)
d = list(c)
d

[1, 2, 3]

In [120]:
type(d)

list

### Workshop

**range로 리스트 만들기**
- [5, 3, 1, -1, -3, -5, -7, -9]가 출력되게 만드세요

In [121]:
a = list(range(5, -10, -2))
print(a)

[5, 3, 1, -1, -3, -5, -7, -9]

In [122]:
a = list(range(5, -11, -2))
print(a)

[5, 3, 1, -1, -3, -5, -7, -9]

**range로 튜플 만들기**
- 표준입력으로 정수가 입력됩니다. range의 시작하는 숫자는 -10, 끝나는 숫자는 10이며 입력된 정수만큼 증가하는 숫자가 들어가도록 튜플을 만들고, 해당 튜플을 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다.)
- 입력 : 2, 출력: (-10, -8, -6, -4, -2, 0, 2, 4, 6, 8)

In [124]:
step = int(input())

2

In [125]:
print(tuple(range(-10, 10, step)))

(-10, -8, -6, -4, -2, 0, 2, 4, 6, 8)

### 시퀀스 자료형 활용하기

- 시퀀스 자료형 : list, tuple, range, str

In [ ]:
# 공통기능

- 값 in 시퀀스객체

In [126]:
a = [1, 2, 3, 4, 5]

In [127]:
1 in a

True

In [128]:
100 in a

False

In [129]:
100 not in a

True

In [130]:
b = (6, 7, 8, 9, 10)

In [131]:
6 in b

True

In [132]:
1 in range(10)

True

In [133]:
'P' in "Hello, Python!"

True

- 시퀀스 객체1 + 시퀀스 객체2

In [134]:
a = [1, 2, 4, 5]
b = [5, 6, 7, 8]

In [135]:
a + b

[1, 2, 4, 5, 5, 6, 7, 8]

In [138]:
c = (1, 2, 3)
d = (4, 5, 6)
c + d

(1, 2, 3, 4, 5, 6)

In [136]:
range(10) + range(10)

TypeError: unsupported operand type(s) for +: 'range' and 'range'

In [137]:
list(range(10)) + list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [140]:
"Hello, " + "Python!"

'Hello, Python!'

- 시퀀스객체 * 정수
- 정수 * 시퀀스객체

In [141]:
[1, 2, 3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [145]:
3 * (1, 2, 3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [142]:
range(3) * 3

TypeError: unsupported operand type(s) for *: 'range' and 'int'

In [143]:
list(range(3)) * 3

[0, 1, 2, 0, 1, 2, 0, 1, 2]

In [146]:
"Hello, " * 3

'Hello, Hello, Hello, '

- len(시퀀스객체)

In [147]:
a = [1, 2, 3]

In [148]:
len(a)

3

In [149]:
b = (4, 5, 6, 7)

In [150]:
len(b)

4

In [151]:
len(range(10))

10

In [152]:
len("Hello")

5

- 시퀀스객체[인덱스]

In [154]:
a = [20, 10, 4, 9]

In [156]:
a[0] # 리스트의 첫번째 인덱스는 0부터 시작

20

In [157]:
len(a)

4

In [158]:
a[len(a)-1] #리스트 마지막 인덱스 : len(a)-1

9

In [159]:
b = (40, 10, 9, -5)

In [160]:
b[2] # tuple에서 세번째(index : 2) 요소 가져오기

9

In [161]:
r = range(10) # 0에서부터 9까지

In [162]:
r[0]

0

In [163]:
r[5]

5

In [164]:
r[9]

9

In [165]:
r[10] #index의 범위를 벗어남

IndexError: range object index out of range

In [166]:
hello = "Hello, World!"

In [167]:
hello[7] # 문자열의 여덟번째 요소

'W'

In [ ]:
# a = [1, 2, 3, 4, 5, 14, 11, 22, ...................................., 23]
# 마지막 요소에 접근할때 음수 인덱스를 사용하면 편리

In [168]:
a = [1, 5, 10, 14, 20]

In [169]:
a[-1] # 뒤에서 첫번째

20

In [170]:
a[-2] # 뒤에서 두번째

14

In [171]:
a[-5] # 뒤에서 다섯번째 (앞에서는 첫번째)

1

In [172]:
b = (11, 134, 12, 5)

In [173]:
b[-1]

5

In [175]:
r = range(0, 1000, 3)

In [176]:
r[-1] # range의 뒤에서 첫번째 요소

999

In [177]:
hello = "Hello, World!"

In [178]:
hello[-1]

'!'

- 시퀀스객체[인덱스] = 값
- 위의 문법(연산)은 list 객체에서만 유효, tuple, range, str에서는 요소 값을 변경할 수 없음

In [179]:
a = [0, 0, 0, 0]
a

[0, 0, 0, 0]

In [180]:
a[0] = 100
a

[100, 0, 0, 0]

In [181]:
b = (0, 0, 0, 0)
b

(0, 0, 0, 0)

In [182]:
b[0] = 100 # tuple 자료형은 요소를 변경할 수 없음에 유의!!

TypeError: 'tuple' object does not support item assignment

In [183]:
r = range(10)

In [184]:
r[0] = 100

TypeError: 'range' object does not support item assignment

In [185]:
hello = "Hello, World!"

In [186]:
hello[0] = 'P'

TypeError: 'str' object does not support item assignment

- del 시퀀스객체[인덱스]
- 위의 문법(연산)은 list 객체에서만 유효, tuple, range, str에서는 요소 값을 삭제할 수 없음

In [193]:
a = [1, 2, 3, 4]

In [194]:
del a[0]
a

[2, 3, 4]

In [ ]:
# 시퀀스 슬라이스 : 시퀀스의 일부를 잘라냄

- 시퀀스객체[시작인덱스:끝인덱스]

In [195]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [196]:
a[0:4] # 인덱스 0부터 3까지 잘라서 가져옴

[0, 10, 20, 30]

In [197]:
a[0:10]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [198]:
a[0:] # 끝인덱스를 생략하면 마지막까지 가져옴

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [199]:
a[:] # 시작인덱스와 끝인덱스를 생략하면 처음부터 마지막까지 가져옴

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [200]:
a[:-1] # 마지막 인덱스를 -1로 지정하면 9번째 인덱스를 의미하므로 실제로는 8번째 인덱스까지 가져옴

[0, 10, 20, 30, 40, 50, 60, 70, 80]

- 시퀀스객체[시작인덱스:끝인덱스:인덱스증가폭]

In [201]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [202]:
a[2:8:2]

[20, 40, 60]

### Workshop

**최근 3년간 인구 출력하기**
- 리스트 year에 연도, population에 서울시 인구수가 저장되어 있습니다. 다음 소스 코드를 완성하여 최근 3년간 연도와 인구수가 리스트로 출력되게 만드세요.

In [203]:
year = [2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018]
population = [10249679, 10195318, 10143645, 10103233, 10022181, 9930616, 9857426, 9838892]

In [204]:
print(year[-3:])
print(population[-3:])

[2016, 2017, 2018]
[9930616, 9857426, 9838892]

**인덱스가 홀수인 요소 출력하기**
- 다음 소스 코드를 완성하여 튜플 n에서 인덱스가 홀수인 요소들이 출력되게 만드세요.

In [205]:
n = -32, 75, 97, -10, 9, 32, 4, -15, 0, 76, 14, 2

In [206]:
n[1:12:2] # option 1

(75, -10, 32, -15, 76, 2)

In [207]:
n[1::2] # option 2

(75, -10, 32, -15, 76, 2)

In [209]:
n[1:len(n):2] # option 3

(75, -10, 32, -15, 76, 2)

**리스트의 마지막 요소 5개 삭제하기**
- 표준 입력으로 숫자 또는 문자열 여러개가 입력되어 리스트 x에 저장됩니다(입력되는 숫자 또는 문자열의 개수는 정해져 있지 않음). 다음 소스코드를 완성하여 리스트 x의 마지막 요소 5개를 삭제한 뒤 튜플로 출력되게 만드세요

In [211]:
x = input().split()

1 2 3 4 5 6 7 8 9 10

In [214]:
del x[-5:]

In [215]:
print(tuple(x))

['1', '2', '3', '4', '5']

- 시퀀스객체[시작인덱스:끝인덱스] = 시퀀스객체
- tuple, range, str은 슬라이스 범위에 요소를 할당할 수 없음

In [216]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [217]:
a[2:5] = ['a', 'b', 'c']
a

[0, 10, 'a', 'b', 'c', 50, 60, 70, 80, 90]

In [218]:
b = (0, 10, 20, 30, 40, 50, 60, 70, 80, 90)
b[2:5] = ['a', 'b', 'c']
b

TypeError: 'tuple' object does not support item assignment

- del 시퀀스객체[시작인덱스:끝인덱스]
- tuple, range, str은 슬라이스 범위에 요소를 삭제할 수 없음

In [219]:
del a[2:5]
a

[0, 10, 50, 60, 70, 80, 90]

In [220]:
del b[2:5]
b

TypeError: 'tuple' object does not support item deletion

### Workshop

**주민번호로 성별 구분하기**
- 아래와 같은 홍길동씨의 주민번호를 대쉬 기호 전/후로 쪼개보자. 성별이 남자면 'male', 여자면 'female'을 출력하세요.

In [221]:
pin = '88120-1068234'

In [225]:
if pin.split('-')[1][0] == '1': # 성별을 알 수 있는 자리로 판단
    print("male")
else:
    print("female")

male

**핸드폰 번호 가리기**
- 전화번호가 문자열 phone_number로 주어졌을 때, 전화번호의 뒷 4자리를 제외한 나머지 숫자를 전부 *으로 가린 문자열을 출력하세요.

- 제한 조건
- s는 길이 4 이상, 20이하인 문자열입니다.
- 입출력 예
```
phone_number 출력 문자열
"01033334444" "*******4444"
"027778888" "*****8888"
```

In [232]:
phone_number = input()

027778888

In [233]:
s1 = '*' * len(phone_number[:-4])
s2 = phone_number[-4:]
s1+s2

'*****8888'