# 기초 사용법

### 마크다운 치트시트
- (https://www.markdownguide.org/cheat-sheet/)

# H1
## H2
### H3

**bold text**

![alt text](python_logo.png)

### Hello World 출력하기

- 프로그램 실행 방법 option 1

In [11]:
print("hello world") # hello world를 출력하는 코드입니다.

hello world

- 프로그램 실행 방법 option 2

In [12]:
%run hello.py

hello world
900

- 프로그램 실행 방법 option 3

In [ ]:
# cmd 창에 가서
# >>> python hello.py

### 단축키

In [13]:
# Esc : 셀 포커스 모드 (에디트 모드가 아님) 
# a : 위로 셀 추가
# b : 아래로 셀 추가
# m : 마크다운 모드
# y : 코드 모드
# Shift + m : 선택된 셀 병합
# Ctrl + Shift + '-' : 현재 커서 위치에서 셀 분할
# x : 셀 삭제
# dd : 셀 삭제
# Shift + Enter : 셀 실행
# Alt + Enter : 셀 실행 후 셀 추가

In [17]:
a = 10
b = 20

c = a + b
c

30

In [18]:
d = c * 30
print(d)

900

### 탭 자동 완성기능

In [19]:
an_apple = 27
an_example = 42

In [ ]:
an<tab 키>

In [20]:
# python의 list 자료형
score = [90, 95, 100]

In [ ]:
# list에서 제공하는 메서드(함수)
score.<tab 키>

### 자기관찰(도움말)

In [21]:
# list 자료형인 score 객체에 대한 설명 (?를 앞뒤에 할 수 있음)
score?

In [23]:
?score

In [24]:
# print 함수에 대한 설명
print?

In [28]:
def add_number(a, b):
    """
    Add two numbers together
    Returns a+b    
    """
    c = a+b
    return c

In [29]:
add_number? # 함수의 문서(docstring)를 보여줌

In [30]:
add_number??

### 매직명령어

In [32]:
%run hello.py # python script 파일을 실행할 때 사용

hello world
900

In [34]:
%pwd # 현재 디렉토리를 표시

'C:\\Users\\Playdata\\Documents\\2022 빅데이터 10기\\Python Programming\\workshop'

In [ ]:
# %load hello.py
print("hello world")

a = 10
b = 20

c = a+b


d = c * 30
print(d)

In [37]:
%time c = a+b # time 뒤에 나오는 statement를 수행하는데 걸린 시간

CPU times: total: 0 ns
Wall time: 0 ns

In [38]:
%timeit c = a + b # timeit 뒤에 나오는 statement를 여러번 실행한 후 평균 시간을 출력

38.8 ns ± 0.34 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)

In [41]:
import numpy as np # "행렬 연산을 고속화"해서 수행할 수 있는 라이브러리

In [49]:
a = np.random.randn(100, 100) # randn(행렬의 형상) 이 하는 역할 : 정규분포를 따르는 데이터를 행렬의 형상만큼 무작위로 만들어줌.

array([[-1.12272239,  0.62335093,  1.54767438, ...,  0.24000135,
        -2.06198986, -0.31973154],
       [ 0.20891532,  2.10033913,  0.82202243, ..., -0.20092578,
        -1.0688538 ,  1.53551649],
       [-1.03956737,  0.72742121, -0.59541074, ..., -0.14481478,
         0.59712429, -0.6169692 ],
       ...,
       [ 0.71505855,  0.68964074, -0.5755884 , ...,  0.19505611,
        -0.75860772, -0.08621206],
       [ 0.38306634,  1.03480706,  0.97575145, ...,  0.24856738,
        -1.28855433,  1.34365338],
       [ 0.92358641, -1.40729934,  0.46108665, ..., -1.54427973,
         0.79817076, -0.73883141]])

In [50]:
%timeit np.dot(a, a)

27.6 µs ± 3.36 µs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [39]:
%magic

In [40]:
%quickref

### 기본 문법

In [51]:
# 세미콜론 사용하지 않음
a = 3
b = 4

In [52]:
a=3; b=4 # 한줄에 여러 문장 실행할때는 세미콜론 사용

In [54]:
# 들여쓰기
if a == 3:
    print("a는 3입니다.")

a는 3입니다.

### 숫자 계산하기

In [53]:
1+1 # 덧셈

2

In [55]:
2-1 # 뺄셈

1

In [56]:
2*3 # 곱셈

6

In [57]:
4/2 # 나눗셈

2.0

In [58]:
5/2

2.5

In [59]:
5//2 # 몫

2

In [60]:
5%2 # 나머지

1

In [61]:
2 ** 10 # 2의 10 제곱

1024

In [62]:
a = 2
type(a) # type(a) : a의 자료형을 알 수 있는 함수

int

In [66]:
b = 2.3
type(b) # type(b) : b의 자료형을 알 수 있는 함수

float

In [68]:
# 자료형 변환 (type casting)
print(b, type(b)) # before 자료형 변환 : 2.3 float
print(int(b), type(int(b))) # after 자료형 변환 : 2 int

2.3 <class 'float'>
2 <class 'int'>

In [70]:
print('10', type('10')) # before 자료형 변환
print(int('10'), type(int('10'))) # after 자료형 변환

10 <class 'str'>
10 <class 'int'>

In [71]:
divmod(5, 2)

(2, 1)

### 변수 만들기

In [72]:
a = 3 # = : 오른쪽에 있는 값을 왼쪽으로 할당

In [73]:
a == 3 # == : 왼쪽과 오른쪽의 값이 같은지 비교 (결과가 True / False로 나옴)

True

In [74]:
a == 4

False

In [75]:
# 영문과 문자를 함께 사용 가능
a1 = 4

In [76]:
# 대소문자 구문
A1 # a1과는 다른 A1

NameError: name 'A1' is not defined

In [77]:
# 문자는 숫자부터 사용할 수 없음
1a = 3

SyntaxError: invalid syntax (167407203.py, line 1)

In [78]:
# _로 시작할 수 있음
_a = 10

In [79]:
# 특수문자(+, -, *, /, $, @, %, &) 사용할 수 없음
$a = 10

SyntaxError: invalid syntax (3801781492.py, line 2)

In [80]:
# 파이썬 키워드는 사용할 수 없음 (if, for, while, and, or)
if = 3

SyntaxError: invalid syntax (3577728022.py, line 1)

In [81]:
x, y = 10, 20
print(x, y)

10 20

In [82]:
x, y = y, x
print(x, y)

20 10

In [83]:
x, y, z = 10, 20

ValueError: not enough values to unpack (expected 3, got 2)

In [84]:
x = 10
x

10

In [85]:
del x

In [86]:
x

NameError: name 'x' is not defined

In [87]:
# 초기에는 x에 무엇을 넣을지 모름
x = None

x = 10 * 20 + 30 # 계산의 결과로 x가 생성
if x == 10: # 현재 x는 230이므로 아래 if 문 블록을 실행하지 않음
    print("10 입니다")

In [88]:
a = 10
a + 10

20

In [89]:
a

10

In [90]:
# a에 결과를 할당하고 싶다면
a = a + 10
a

20

In [91]:
# a = a + 10 을 축약해서 표현
a += 10  # a = a + 10 와 동일!!
a

30

In [92]:
a -= 10 # a = a - 10
a

In [94]:
a *= 10 # a = a * 10
a

200

In [95]:
a /= 10 # a = a / 10
a

20.0

In [98]:
dd /= 10 # dd = dd / 10

NameError: name 'dd' is not defined

# Workshop

**아파트에서 소음이 가장 심한 층수 출력하기**
- 국립환경과학원에서는 아파트에서 소음이 가장 심한 층수를 구하는 계산식을 발표했습니다. 소음이 가장 심한 층은 0.2467 * 도로와의 거리(m) + 4.159입니다. 다음 소스 코드를 완성하여 소음이 가장 심한 층수가 출력되게 만드세요. 단, 층수를 출력할 때는 소수점 이하 자리는 버립니다(정수로 출력).
- 도로와의 거리: 12m

In [101]:
int(0.2467 * 12 + 4.159)

7

**근의 공식 구하기**
- 근의 공식을 이용하여 x**2 + x - 2 = 0의 해를 구하라.
- 수학 모듈 math 이용 (from math import sqrt)

![alt text](formula.png)

In [105]:
# 파이썬만 이용
a = 1
b = 1
c = -2

x1 = (-b + (b**2 - 4*a*c)**0.5)/(2*a)
x2 = (-b - (b**2 - 4*a*c)**0.5)/(2*a)

x1, x2

(1.0, -2.0)

In [106]:
# 수학 모듈 math 이용
from math import sqrt

a = 1
b = 1
c = -2

x1 = (-b + sqrt(b**2 - 4*a*c))/(2*a)
x2 = (-b - sqrt(b**2 - 4*a*c))/(2*a)

x1, x2

(1.0, -2.0)

### 입력값을 변수에 저장하기

In [107]:
# 사용자의 입력을 받는 함수
input()

aaaa

'aaaa'

In [112]:
a = input() # 사용자의 입력을 a에 할당

hello world

In [113]:
a # a라는 변수를 출력해 보니 결과가 문자열임을 알 수 있음

'hello world'

In [114]:
# input 함수에 프롬프트를 줄 수 있음
b = input("문자열을 입력하세요 : ")

문자열을 입력하세요 : python

In [115]:
b

'python'

In [118]:
x = input("숫자를 입력하세요 : ")
y = input("숫자를 입력하세요 : ")

숫자를 입력하세요 : 10
숫자를 입력하세요 : 20

In [119]:
x + y # x에 있는 '10' 과 y에 있는 '20' 이 문자열 상태로 연결

'1020'

In [120]:
int(x) + int(y) # 10 + 20

30

In [121]:
x = int(input("숫자를 입력하세요 : ")) # x는 정수로 바뀐 상태
y = int(input("숫자를 입력하세요 : ")) # y는 정수로 바뀐 상태

숫자를 입력하세요 : 100
숫자를 입력하세요 : 200

In [123]:
x + y

300

In [124]:
s = input("문자열 두개를 입력하세요 :")

문자열 두개를 입력하세요 :hello world

In [125]:
s

'hello world'

In [126]:
s.split() # 문자열 객체에서 제공하는 split 함수를 사용하면 space(기본값)를 기준으로 각각의 문자열들을 리스트 형태로 반환

['hello', 'world']

In [127]:
s1, s2 = input("문자열 두개를 입력하세요 :").split()

문자열 두개를 입력하세요 :hello world

In [128]:
s1

'hello'

In [129]:
s2

'world'

In [130]:
s = input("문자열 '-'를 기준으로 두개를 입력하세요 :")

문자열 '-'를 기준으로 두개를 입력하세요 :hello-world

In [131]:
s

'hello-world'

In [132]:
s.split('-')

['hello', 'world']

In [133]:
s1, s2 = input("문자열 '-'를 기준으로 두개를 입력하세요 :").split('-')

문자열 '-'를 기준으로 두개를 입력하세요 :hello-world

In [134]:
s1

'hello'

In [135]:
s2

'world'

In [3]:
l = input("숫자 두개를 입력하세요").split()

숫자 두개를 입력하세요10 20

In [4]:
l

['10', '20']

In [8]:
# map(함수: 정수형 변환, 적용할 데이터)
l1, l2 = map(int, l) #l이라는 리스트 안에 있는 모든 요소를 일괄적으로 int 형으로 변환

In [9]:
l1, l2

(10, 20)

In [10]:
# 입력과 형변환을 한꺼번에
ㅣ1, ㅣ2 = map(int, input("숫자 두개를 입력하세요").split())

숫자 두개를 입력하세요10 20

In [11]:
l1, l2

(10, 20)

세개의 정수를 입력하시오12 12 12
36